/* CSS for Google Homepage file index.html */

#google_logo {
	height:163.3px;
	width:269px;
	padding-top:172px;
}

#logo {
	height:340px;
	width:300px;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
}

#search {
	height:500px;
	width:550px;
	margin-left:auto;
	margin-right:auto;
	clear:both;
}

#search_box {
	height:30px;
	width:550px;
	border:1px solid #D8D8D8;
	font-family:Arial, Serif;
}

#submit_button {
	height:30px;
	width:115px;
	background-color:#F2F2F2;
	border: 1px solid #D8D8D8;
	font-family: Arial, Serif;
	font-size: 11.5px;
	font-weight:bold;
	color:#424242;
	border-radius:6%;
	margin: 0 12px 0 0; 
}

#top-navbar {
	position:fixed;
	top:5px;
	right:0;
}

li a img {
	height:20px;
	width:20px;
}

li a {
	text-decoration: none;
	font-family: Arial, Serif;
	font-size:13px;
	color:#424242; 
	margin:7px;
}	

li:nth-child(7) a img {
  	border-radius:100%;
  	border:1px solid #D8D8D8;
}

ul {
	list-style-type: none;
	margin:10px 15px 0 0;
	padding:0;
	float:right;
}

li {
	display:inline;
}

#bottom-navbar {
	height:40px;
	width:100%;
	background-color:#F2F2F2; 
	border-top: 1px solid #D8D8D8;
	position:fixed;
	bottom:0;
	left:0;
}

#bottom-navbar-left {
	display:inline-box;
	margin-left:20px;
	float:left;
}

#bottom-navbar-right {
	float:right;
	display:inline-box;
	text-align:right;
}

#bottom-navbar li a {
	color:#6E6E6E;
	margin-right:14px;
}